@charset "UTF-8";
/* 
*  Elements that can be changed will hint this by dimming and fading a little on hover
*/
/*
 * Toothradio. Some (eg trauma) are not changeable, hence the option.
 */
/*
 * Custom Radio
 */
/*
 * Custom Radio Squared
 */
/*
 * Checkboxes underscored.
 */
/*
 * Create Clock
 */
/*
 * Turf Block
 */
/*
 * Toothradio single elements
 */
/*
 * Custom Radio Round
 */
@font-face {
  font-family: "Kirsty";
  src: url("assets/fonts/Kirsty/Kirsty.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Kirsty";
  src: url("assets/fonts/Kirsty/KirstyBold.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Kirsty";
  src: url("assets/fonts/Kirsty/KirstyBoldItalic.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Kirsty";
  src: url("assets/fonts/Kirsty/KirstyItalic.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Crimson Text";
  src: url("assets/fonts/CrimsonText/CrimsonText-Regular.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Crimson Text";
  src: url("assets/fonts/CrimsonText/CrimsonText-Bold.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Crimson Text";
  src: url("assets/fonts/CrimsonText/CrimsonText-BoldItalic.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Crimson Text";
  src: url("assets/fonts/CrimsonText/CrimsonText-Italic.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Crimson Text";
  src: url("assets/fonts/CrimsonText/CrimsonText-SemiBold.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Crimson Text";
  src: url("assets/fonts/CrimsonText/CrimsonText-SemiBoldItalic.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: 600;
  font-style: italic;
}
.blades-in-the-dark.sheet.actor {
  min-width: 800px;
  min-height: 275px;
}

.tooltip {
  display: none;
  position: absolute;
  padding: 10px;
  color: #EEEFFF;
  background-color: #191813;
  border: 1px solid #777;
  border-radius: 3px;
  z-index: 9999999;
  max-width: 300px;
}

/*
 * General Styles - Redesign
 */
#tidy-redesign {
  position: relative;
  margin: 5px;
  font-family: "Crimson Text", serif;
}
#tidy-redesign input[type=checkbox] {
  width: 1em;
  height: 1em;
}
#tidy-redesign [contenteditable] {
  user-select: auto !important;
  text-decoration: underline;
}
#tidy-redesign [contenteditable]:active, #tidy-redesign [contenteditable]:focus {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 3px;
}
#tidy-redesign .hover-details, #tidy-redesign .hover-term {
  cursor: help;
  color: #660000;
  font-weight: bold;
  text-decoration: underline;
}
#tidy-redesign ul.diamond {
  list-style: none;
}
#tidy-redesign ul.diamond li {
  position: relative;
}
#tidy-redesign ul.diamond li:after {
  content: "";
  height: 0.4em;
  width: 0.4em;
  background: #191813;
  display: block;
  position: absolute;
  transform: rotate(45deg);
  top: 0.45em;
  left: -1em;
}
#tidy-redesign #context-menu ol li * {
  vertical-align: initial;
}
#tidy-redesign .clickable-edit {
  text-decoration: underline;
}
#tidy-redesign .rollable-text {
  cursor: pointer;
}
#tidy-redesign input[type=text] {
  width: auto;
  border: 0;
}
#tidy-redesign .edit-only {
  display: none;
}
#tidy-redesign .non-edit {
  display: initial;
}
#tidy-redesign header.full-bar {
  background-color: #191813;
  color: #EEEFFF;
  padding: 3px;
  width: 100%;
  font-family: Kirsty, serif;
  position: relative;
  margin-bottom: 5px;
}
#tidy-redesign header.full-bar .stripe-tooth-body.right {
  position: absolute;
  top: 1px;
  right: 1px;
  display: flex;
  /* Hide the browser's default checkbox */
}
#tidy-redesign header.full-bar .stripe-tooth-body.right label {
  height: 25px;
  width: 10px;
  background-image: url("assets/teeth/xptooth-red.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 3px;
  transition: filter 0.1s;
  cursor: pointer;
}
#tidy-redesign header.full-bar .stripe-tooth-body.right label:last-of-type {
  margin-right: 0px;
}
#tidy-redesign header.full-bar .stripe-tooth-body.right label[for$="-0"] {
  width: auto;
  height: auto;
  background-image: none !important;
  color: #EEEFFF;
}
#tidy-redesign header.full-bar .stripe-tooth-body.right label[for$="-0"] i {
  margin-top: 4px;
}
#tidy-redesign header.full-bar .stripe-tooth-body.right label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
#tidy-redesign header.full-bar .stripe-tooth-body.right input {
  display: none;
}
#tidy-redesign header.full-bar .stripe-tooth-body.right label {
  background-image: url("assets/teeth/xptooth-white.png");
  background-size: 100% 100%;
}
#tidy-redesign header.full-bar .stripe-tooth-body.right label.on {
  background-image: url("assets/teeth/xptooth-red.png");
}
#tidy-redesign header.full-bar .stripe-tooth-body.stress {
  position: absolute;
  top: 1px;
  right: 1px;
  display: flex;
  /* Hide the browser's default checkbox */
}
#tidy-redesign header.full-bar .stripe-tooth-body.stress label {
  height: 25px;
  width: 10px;
  background-image: url("assets/teeth/xptooth-red.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 3px;
  transition: filter 0.1s;
  cursor: pointer;
}
#tidy-redesign header.full-bar .stripe-tooth-body.stress label:last-of-type {
  margin-right: 0px;
}
#tidy-redesign header.full-bar .stripe-tooth-body.stress label[for$="-0"] {
  width: auto;
  height: auto;
  background-image: none !important;
  color: #EEEFFF;
}
#tidy-redesign header.full-bar .stripe-tooth-body.stress label[for$="-0"] i {
  margin-top: 4px;
}
#tidy-redesign header.full-bar .stripe-tooth-body.stress label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
#tidy-redesign header.full-bar .stripe-tooth-body.stress input {
  display: none;
}
#tidy-redesign header.full-bar .stripe-tooth-body.stress label {
  background-image: url("assets/teeth/xptooth-white.png");
  background-size: 100% 100%;
}
#tidy-redesign header.full-bar .stripe-tooth-body.stress label.on {
  background-image: url("assets/teeth/xptooth-red.png");
}
#tidy-redesign .toggle-allow-edit {
  position: absolute;
  top: -10px;
  right: -10px;
}
#tidy-redesign .toggle-allow-edit span {
  cursor: pointer;
  background: #008000;
  color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
}
#tidy-redesign .toggle-allow-edit span:hover {
  color: #fff;
}
#tidy-redesign .toggle-allow-edit span i {
  width: 100%;
  text-align: center;
  padding: 4px 6px;
}
#tidy-redesign .toggle-allow-edit span .fa-lock-open {
  display: none;
}
#tidy-redesign.allow-edit .edit-only {
  display: initial;
}
#tidy-redesign.allow-edit .non-edit {
  display: none;
}
#tidy-redesign.allow-edit .toggle-allow-edit span {
  background-color: #800000;
}
#tidy-redesign.allow-edit .toggle-allow-edit span .fa-lock-open {
  display: inline-block;
}
#tidy-redesign.allow-edit .toggle-allow-edit span .fa-lock {
  display: none;
}
#tidy-redesign .minimized-view {
  display: grid;
  height: 230px;
  grid-template-columns: auto 1fr;
  column-gap: 1em;
  grid-template-rows: 2fr 1fr 1fr 4fr;
  grid-template-areas: "portrait main-row" "portrait sub-row-1" "portrait sub-row-2" "portrait actions";
}
#tidy-redesign .minimized-view .character-portrait {
  grid-area: portrait;
  place-self: center;
  width: 200px;
  height: 200px;
  flex-shrink: 0;
  flex-grow: 0;
  position: relative;
}
#tidy-redesign .minimized-view .character-portrait .portrait {
  border-radius: 100px;
  overflow: hidden;
  border: 6px solid #999;
  width: 100%;
  height: 100%;
}
#tidy-redesign .minimized-view .character-portrait .portrait > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  border: 0;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3) inset;
}
#tidy-redesign .minimized-view .character-portrait .stress-trauma-box {
  width: 100%;
  height: 2em;
  position: absolute;
  bottom: 10px;
  left: 0;
  z-index: 10;
}
#tidy-redesign .minimized-view .character-portrait .stress-trauma-box .trauma-box {
  padding: 0 6px;
}
#tidy-redesign .minimized-view .character-portrait .stress-trauma-box .trauma-box .trauma-list {
  width: 100%;
  height: 100%;
  background-color: #bbb;
  color: #191813;
  text-align: center;
  position: relative;
  top: -5px;
  padding-top: 5px;
  border-radius: 0 0 1em 1em;
  z-index: -10;
}
#tidy-redesign .minimized-view .character-portrait .stress-trauma-box .trauma-box .trauma-list .trauma {
  display: inline-block;
}
#tidy-redesign .minimized-view .character-portrait .stress-trauma-box .trauma-box .trauma-list .trauma:not(:last-of-type)::after {
  content: " •";
}
#tidy-redesign .minimized-view .name-alias {
  font-family: Kirsty, serif;
  font-weight: bold;
  font-size: 3em;
  color: #191813;
  grid-area: main-row;
}
#tidy-redesign .minimized-view .name-alias .alias {
  font-size: 0.6em;
  font-weight: normal;
}
#tidy-redesign .minimized-view .heritage-background {
  grid-area: sub-row-1;
}
#tidy-redesign .minimized-view .look {
  grid-area: sub-row-2;
}
#tidy-redesign .minimized-view .bio {
  border-bottom: 2px solid #191813;
}
#tidy-redesign .minimized-view .attributes-actions {
  grid-area: actions;
  display: flex;
  justify-content: space-between;
  justify-items: stretch;
  max-width: 600px;
}
#tidy-redesign .minimized-view .attributes-actions .attribute {
  flex-grow: 1;
  margin: 10px 5px;
}
#tidy-redesign .minimized-view .attributes-actions .attribute .action {
  padding: 0 5px;
  display: flex;
  /* Hide the browser's default checkbox */
  justify-content: flex-start;
  align-items: stretch;
}
#tidy-redesign .minimized-view .attributes-actions .attribute .action label {
  height: 1em;
  width: 1em;
  background-color: #cc0000;
  vertical-align: middle;
  border: 2px solid #191813;
  border-radius: 24px;
  transition: filter 0.1s;
  cursor: pointer;
}
#tidy-redesign .minimized-view .attributes-actions .attribute .action label[for$="-0"] {
  height: 5px;
  width: 5px;
  border-radius: 24px;
  background-image: none !important;
  background-color: red !important;
  margin-right: 0px;
}
#tidy-redesign .minimized-view .attributes-actions .attribute .action label:hover {
  filter: brightness(0.7);
  opacity: 0.7;
}
#tidy-redesign .minimized-view .attributes-actions .attribute .action input {
  display: none;
}
#tidy-redesign .minimized-view .attributes-actions .attribute .action input:checked ~ label {
  background-color: transparent;
}
#tidy-redesign .minimized-view .attributes-actions .attribute .action input:checked + label {
  transition: filter 0.1s;
  cursor: pointer;
  background-color: #cc0000;
}
#tidy-redesign .minimized-view .attributes-actions .attribute .action input:checked + label:hover {
  filter: brightness(0.7);
  opacity: 0.7;
}
#tidy-redesign .minimized-view .attributes-actions .attribute .action .attribute-skill-label {
  font-weight: bold;
  font-variant: small-caps;
  padding: 3px 0;
  margin-left: 0.4em;
}
#tidy-redesign .minimized-view .attributes-actions .attribute .action label {
  margin: 2px;
  border: 1px solid #666666;
  box-sizing: border-box;
}
#tidy-redesign .minimized-view .attributes-actions .attribute input.zero {
  display: none;
}
#tidy-redesign .tab-space nav.tabs {
  display: grid;
  grid-template-columns: 1fr 1em 1fr;
  grid-template-rows: auto;
  grid-template-areas: "tab1 . tab2";
}
#tidy-redesign .tab-space .tab-item {
  flex-grow: 0;
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #bbb;
  border-radius: 20px 20px 0 0;
  font-family: Kirsty, serif;
  text-transform: capitalize;
  padding: 5px 15px;
  font-size: 2.6em;
}
#tidy-redesign .tab-space .tab-item select {
  font-family: Kirsty;
  font-size: 0.8em;
  height: 80%;
}
#tidy-redesign .tab-space .tab-item > div {
  margin: 5px 10px;
}
#tidy-redesign .tab-space .tab-item.playbook {
  grid-area: tab1;
}
#tidy-redesign .tab-space .tab-item.downtime {
  grid-area: tab2;
}
#tidy-redesign .tab-space .tab-item .playbook-description {
  font-family: "Crimson Text", serif;
  font-size: 0.4em;
  font-variant: small-caps;
  font-weight: bold;
  color: #666;
  text-align: center;
}
#tidy-redesign .tab-space .tab-item.active {
  margin-bottom: 0;
}
#tidy-redesign .tab-space .tab-item:not(.active) {
  background-color: rgba(187, 187, 187, 0.5);
}
#tidy-redesign .tab-space .tab-content {
  flex-basis: 100%;
}
#tidy-redesign .tab-space .tab-content .tab .playbook {
  display: grid;
  align-items: stretch;
  justify-items: stretch;
  grid-template-columns: 2fr 1em 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "abilities gutter pb-items all-items" "abilities gutter friends all-items" "abilities gutter xp-notes xp-notes";
}
#tidy-redesign .tab-space .tab-content .tab .playbook select {
  font-family: Kirsty, serif;
  text-transform: capitalize;
  font-size: 2.6em;
  border: none;
  background-color: #f00;
}
#tidy-redesign .tab-space .tab-content .tab .playbook::after {
  content: "";
  background: #bbb;
  grid-area: gutter;
  height: 100%;
  width: 100%;
}
#tidy-redesign .tab-space .tab-content .tab .playbook .abilities {
  grid-area: abilities;
  background: #bbb;
  padding-bottom: 1em;
}
#tidy-redesign .tab-space .tab-content .tab .playbook .abilities .ability-list .ability-block {
  display: flex;
  align-items: flex-start;
  padding: 5px;
}
#tidy-redesign .tab-space .tab-content .tab .playbook .abilities .ability-list .ability-block:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.3);
}
#tidy-redesign .tab-space .tab-content .tab .playbook .abilities .ability-list .ability-block input {
  margin: 0;
  margin-right: 3px;
  position: relative;
}
#tidy-redesign .tab-space .tab-content .tab .playbook .abilities .ability-list .ability-block input.offset {
  margin-top: -3px;
}
#tidy-redesign .tab-space .tab-content .tab .playbook .abilities .ability-list label {
  margin: 0;
  line-height: 0.8em;
  font-size: 1.2em;
  margin-bottom: 6px;
  padding-right: 1em;
}
#tidy-redesign .tab-space .tab-content .tab .playbook .abilities .ability-list label .ability-name {
  font-weight: bold;
  font-variant: small-caps;
}
#tidy-redesign .tab-space .tab-content .tab .playbook .playbook-items {
  grid-area: pb-items;
  background: #bbb;
}
#tidy-redesign .tab-space .tab-content .tab .playbook .playbook-items .free-item {
  font-style: italic;
}
#tidy-redesign .tab-space .tab-content .tab .playbook .item-list {
  font-size: 1.2em;
}
#tidy-redesign .tab-space .tab-content .tab .playbook .item-list .item-block {
  padding-left: 5px;
}
#tidy-redesign .tab-space .tab-content .tab .playbook .item-list .item-block .join-line {
  border: 1px solid #666;
  width: 1em;
  display: inline-block;
  height: 0px;
  margin: 0 -0.5em;
  top: -0.5em;
  position: relative;
  z-index: 0;
}
#tidy-redesign .tab-space .tab-content .tab .playbook .item-list .item-block * {
  vertical-align: bottom;
}
#tidy-redesign .tab-space .tab-content .tab .playbook .item-list .item-block input {
  margin-left: 0;
  position: relative;
  z-index: 10;
}
#tidy-redesign .tab-space .tab-content .tab .playbook .friends-rivals {
  grid-area: friends;
  background: #bbb;
  font-size: 1.2em;
}
#tidy-redesign .tab-space .tab-content .tab .playbook .friends-rivals .acquaintance i {
  padding: 1px;
}
#tidy-redesign .tab-space .tab-content .tab .playbook .friends-rivals .acquaintance i.red-icon {
  color: #880000;
}
#tidy-redesign .tab-space .tab-content .tab .playbook .friends-rivals .acquaintance i.green-icon {
  color: #006600;
}
#tidy-redesign .tab-space .tab-content .tab .playbook .all-items {
  grid-area: all-items;
}
#tidy-redesign .tab-space .tab-content .tab .playbook .xp-notes {
  grid-area: xp-notes;
  background: #bbb;
  font-size: 1.2em;
}
#tidy-redesign .tab-space .tab-content .tab .playbook .xp-notes p {
  line-height: 1em;
}
#tidy-redesign .tab-space .tab-content .tab .playbook .xp-notes ul {
  list-style-type: square;
  padding-right: 5px;
}
#tidy-redesign .tab-space .tab-content .tab .playbook .xp-notes ul li {
  font-style: italic;
}
#tidy-redesign .tab-space .tab-content .tab .playbook header.full-bar {
  background-color: #666;
  color: #EEEFFF;
}
#tidy-redesign .tab-space .tab-content .tab.downtime {
  line-height: 1em;
}
#tidy-redesign .tab-space .tab-content .tab.downtime h3 {
  text-align: center;
  font-family: Kirsty, serif;
  font-size: 2em;
  margin: 0.5em;
}
#tidy-redesign .tab-space .tab-content .tab.downtime header {
  width: 100%;
  font-family: Kirsty, serif;
  background-color: #191813;
  color: #EEEFFF;
  padding: 3px;
  text-align: center;
}
#tidy-redesign .tab-space .tab-content .tab.downtime .downtimeWrapper {
  display: flex;
}
#tidy-redesign .tab-space .tab-content .tab.downtime .downtimeWrapper table tr {
  text-align: center;
}
#tidy-redesign .tab-space .tab-content .tab.downtime .downtimeWrapper table tr td, #tidy-redesign .tab-space .tab-content .tab.downtime .downtimeWrapper table tr th {
  padding: 3px;
}
#tidy-redesign .tab-space .tab-content .tab.downtime .downtimeWrapper table tr th {
  background-color: #191813;
  color: #EEEFFF;
}
#tidy-redesign .tab-space .tab-content .tab.downtime .downtimeWrapper .column {
  display: flex;
  flex-direction: column;
  width: 50%;
}
#tidy-redesign .tab-space .tab-content .tab.downtime .downtimeWrapper .column section {
  background-color: #bbb;
}
#tidy-redesign .tab-space .tab-content .tab.downtime .downtimeWrapper .column section p {
  text-align: center;
}
#tidy-redesign .tab-space .tab-content .tab.downtime .downtimeWrapper .column section ul {
  padding-right: 1em;
}
#tidy-redesign .tab-space .tab-content .tab.downtime .downtimeWrapper .column section ul li {
  margin-bottom: 3px;
}

/*
 * General Styles
 */
textarea {
  margin-top: 10px;
  margin-bottom: 20px;
}

#items-to-add {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}
#items-to-add input[type=radio],
#items-to-add input[type=checkbox] {
  display: none;
}
#items-to-add input[type=radio]:checked + label,
#items-to-add input[type=checkbox]:checked + label {
  font-weight: bold;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #191813;
  color: #EEEFFF;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 9999;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}

/*# sourceMappingURL=blades.css.map */
