/* 
*  Elements that can be changed will hint this by dimming and fading a little on hover
*/
/*
 * Toothradio. Some (eg trauma) are not changeable, hence the option.
 */
/*
 * Custom Radio
 */
/*
 * Custom Radio Squared
 */
/*
 * Checkboxes underscored.
 */
/*
 * Create Clock
 */
/*
 * Turf Block
 */
/*
 * Toothradio single elements
 */
/*
 * Custom Radio Round
 */
@font-face {
  font-family: "Kirsty";
  src: url("assets/fonts/Kirsty/Kirsty.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Kirsty";
  src: url("assets/fonts/Kirsty/KirstyBold.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Kirsty";
  src: url("assets/fonts/Kirsty/KirstyBoldItalic.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Kirsty";
  src: url("assets/fonts/Kirsty/KirstyItalic.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Crimson Text";
  src: url("assets/fonts/CrimsonText/CrimsonText-Regular.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Crimson Text";
  src: url("assets/fonts/CrimsonText/CrimsonText-Bold.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Crimson Text";
  src: url("assets/fonts/CrimsonText/CrimsonText-BoldItalic.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Crimson Text";
  src: url("assets/fonts/CrimsonText/CrimsonText-Italic.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Crimson Text";
  src: url("assets/fonts/CrimsonText/CrimsonText-SemiBold.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Crimson Text";
  src: url("assets/fonts/CrimsonText/CrimsonText-SemiBoldItalic.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: 600;
  font-style: italic;
}
.blades-in-the-dark.sheet.actor {
  min-width: 800px;
  min-height: 275px;
}

/*
 * General Styles - Redesign
 */
#tidy-redesign {
  position: relative;
  margin: 5px;
  font-family: "Crimson Text", serif;
}
#tidy-redesign [contenteditable] {
  user-select: auto !important;
  padding: 3px;
}
#tidy-redesign [contenteditable]:active, #tidy-redesign [contenteditable]:focus {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 3px;
}
#tidy-redesign .rollable-text {
  cursor: pointer;
}
#tidy-redesign input[type=text] {
  width: auto;
  border: 0;
}
#tidy-redesign .edit-only {
  display: none;
}
#tidy-redesign .non-edit {
  display: initial;
}
#tidy-redesign .toggle-allow-edit {
  position: absolute;
  top: -10px;
  right: -10px;
}
#tidy-redesign .toggle-allow-edit span {
  cursor: pointer;
  background: #008000;
  color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
}
#tidy-redesign .toggle-allow-edit span:hover {
  color: #fff;
}
#tidy-redesign .toggle-allow-edit span i {
  width: 100%;
  text-align: center;
  padding: 4px 6px;
}
#tidy-redesign .toggle-allow-edit span .fa-lock-open {
  display: none;
}
#tidy-redesign.allow-edit .edit-only {
  display: initial;
}
#tidy-redesign.allow-edit .non-edit {
  display: none;
}
#tidy-redesign.allow-edit .toggle-allow-edit span {
  background-color: #800000;
}
#tidy-redesign.allow-edit .toggle-allow-edit span .fa-lock-open {
  display: inline-block;
}
#tidy-redesign.allow-edit .toggle-allow-edit span .fa-lock {
  display: none;
}
#tidy-redesign .minimized-view {
  display: grid;
  height: 230px;
  grid-template-columns: auto 1fr;
  column-gap: 1em;
  grid-template-rows: 2fr 1fr 1fr 4fr;
  grid-template-areas: "portrait main-row" "portrait sub-row-1" "portrait sub-row-2" "portrait actions";
}
#tidy-redesign .minimized-view .character-photo {
  grid-area: portrait;
  place-self: center;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  overflow: hidden;
  flex-shrink: 0;
  flex-grow: 0;
  border: 6px solid #999;
}
#tidy-redesign .minimized-view .character-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  border: 0;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3) inset;
}
#tidy-redesign .minimized-view .name-alias {
  font-family: Kirsty, serif;
  font-weight: bold;
  font-size: 3em;
  color: #191813;
  grid-area: main-row;
}
#tidy-redesign .minimized-view .name-alias .alias {
  font-size: 0.6em;
  font-weight: normal;
}
#tidy-redesign .minimized-view .heritage-background {
  grid-area: sub-row-1;
}
#tidy-redesign .minimized-view .look {
  grid-area: sub-row-2;
}
#tidy-redesign .minimized-view .bio {
  border-bottom: 2px solid #191813;
}
#tidy-redesign .minimized-view .attributes-actions {
  grid-area: actions;
  display: flex;
  justify-content: space-between;
  justify-items: stretch;
  max-width: 600px;
}
#tidy-redesign .minimized-view .attributes-actions .attribute {
  flex-grow: 1;
  margin: 10px 5px;
}
#tidy-redesign .minimized-view .attributes-actions .attribute header.full-bar {
  background-color: #191813;
  color: #EEEFFF;
  padding: 3px;
  width: 100%;
  font-family: Kirsty, serif;
  position: relative;
  margin-bottom: 5px;
}
#tidy-redesign .minimized-view .attributes-actions .attribute header.full-bar .stripe-tooth-body {
  position: absolute;
  top: 1px;
  right: 0;
  display: flex;
  /* Hide the browser's default checkbox */
}
#tidy-redesign .minimized-view .attributes-actions .attribute header.full-bar .stripe-tooth-body label {
  height: 25px;
  width: 10px;
  background-image: url("assets/teeth/xptooth-red.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 3px;
  transition: filter 0.1s;
  cursor: pointer;
}
#tidy-redesign .minimized-view .attributes-actions .attribute header.full-bar .stripe-tooth-body label:last-of-type {
  margin-right: 0px;
}
#tidy-redesign .minimized-view .attributes-actions .attribute header.full-bar .stripe-tooth-body label[for$="-0"] {
  width: auto;
  height: auto;
  background-image: none !important;
  color: #EEEFFF;
}
#tidy-redesign .minimized-view .attributes-actions .attribute header.full-bar .stripe-tooth-body label[for$="-0"] i {
  margin-top: 4px;
}
#tidy-redesign .minimized-view .attributes-actions .attribute header.full-bar .stripe-tooth-body label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
#tidy-redesign .minimized-view .attributes-actions .attribute header.full-bar .stripe-tooth-body input {
  display: none;
}
#tidy-redesign .minimized-view .attributes-actions .attribute header.full-bar .stripe-tooth-body label {
  background-image: url("assets/teeth/xptooth-white.png");
  background-size: 100% 100%;
}
#tidy-redesign .minimized-view .attributes-actions .attribute header.full-bar .stripe-tooth-body label.on {
  background-image: url("assets/teeth/xptooth-red.png");
}
#tidy-redesign .minimized-view .attributes-actions .attribute .action {
  padding: 0 5px;
  display: flex;
  /* Hide the browser's default checkbox */
  justify-content: flex-start;
  align-items: center;
}
#tidy-redesign .minimized-view .attributes-actions .attribute .action .attribute-skill-label {
  font-weight: bold;
  font-variant: small-caps;
  padding: 3px 0;
  margin-left: 0.4em;
}
#tidy-redesign .minimized-view .attributes-actions .attribute .action label {
  height: 1em;
  width: 1em;
  background-color: #cc0000;
  vertical-align: middle;
  border: 2px solid #191813;
  border-radius: 24px;
  transition: filter 0.1s;
  cursor: pointer;
}
#tidy-redesign .minimized-view .attributes-actions .attribute .action label[for$="-0"] {
  height: 5px;
  width: 5px;
  border-radius: 24px;
  background-image: none !important;
  background-color: red !important;
  margin-right: 0px;
}
#tidy-redesign .minimized-view .attributes-actions .attribute .action label:hover {
  filter: brightness(0.7);
  opacity: 0.7;
}
#tidy-redesign .minimized-view .attributes-actions .attribute .action input {
  display: none;
}
#tidy-redesign .minimized-view .attributes-actions .attribute .action input:checked ~ label {
  background-color: transparent;
}
#tidy-redesign .minimized-view .attributes-actions .attribute .action input:checked + label {
  transition: filter 0.1s;
  cursor: pointer;
  background-color: #cc0000;
}
#tidy-redesign .minimized-view .attributes-actions .attribute .action input:checked + label:hover {
  filter: brightness(0.7);
  opacity: 0.7;
}
#tidy-redesign .minimized-view .attributes-actions .attribute .action label {
  margin: 2px;
  border: 1px solid #666;
}
#tidy-redesign .minimized-view .attributes-actions .attribute input.zero {
  display: none;
}
#tidy-redesign .tab-space {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#tidy-redesign .tab-space .tab-item {
  display: inline-block;
  background-color: #CCC;
  border-radius: 20px 20px 0 0;
  font-family: Kirsty, serif;
  padding: 5px 20px;
  font-size: 2.2em;
  box-sizing: border-box;
  margin-bottom: 6px;
}
#tidy-redesign .tab-space .tab-item.active {
  margin-bottom: 0;
}
#tidy-redesign .tab-space .tab-item:not(.active) {
  opacity: 0.6;
}
#tidy-redesign .tab-space .tab-content {
  background: #CCC;
  flex-basis: 100%;
}

/*
 * General Styles
 */

/*# sourceMappingURL=blades.css.map */
