<div class="character-harm harm">
  <div class="grid-lines"></div>
  <header class="harm">{{localize "BITD.Harm"}}</header><header class="effect">{{localize "BITD.Effect"}}</header><header class="healing">{{localize "BITD.Healing"}}</header>
  <span class="rownum3">3</span><input class="heavy" type="text" id="character-{{actor._id}}-harm-3-1" name="data.harm.heavy.one" value="{{data.harm.heavy.one}}"><span class="effect-text heavy">{{localize "BITD.NeedHelp"}}</span>
  <span class="rownum2">2</span><input class="medium1" type="text" id="character-{{actor._id}}-harm-2-1" name="data.harm.medium.one" value="{{data.harm.medium.one}}"><input class="medium2" type="text" id="character-{{actor._id}}-harm-2-2" name="data.harm.medium.two" value="{{data.harm.medium.two}}"><span class="effect-text medium">-1D</span>
  <span class="rownum1">1</span><input class="light1" type="text" id="character-{{actor._id}}-harm-1-1" name="data.harm.light.one" value="{{data.harm.light.one}}"><input class="light2" type="text" id="character-{{actor._id}}-harm-1-2" name="data.harm.light.two" value="{{data.harm.light.two}}"><span class="effect-text light">Less Effect</span>
  <div class="clocks clocks-4 healing-clock">
    {{{blades-clock "data.healing-clock" 4 data.healing-clock (concat "healing-" actor._id)}}}
  </div>
<!--  <table>-->
<!--    <thead>-->
<!--    <th class="black-white" colspan="4">{{localize "BITD.Harm"}}</th>-->
<!--    <th class="black-white"><label>{{localize "BITD.Healing"}}</label></th>-->
<!--    <th class="black-white">{{localize "BITD.Armor"}}</th>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr>-->
<!--      <td>3</td>-->
<!--      <td colspan="2">-->
<!--      </td>-->
<!--      <td>{{localize "BITD.NeedHelp"}}</td>-->
<!--      <td rowspan="3">-->
<!--        <div id="character-health-clock">-->
<!--        </div>-->
<!--      </td>-->
<!--      <td rowspan="3" id="character-armor-uses">-->
<!--        <div>-->
<!--          <label for="armor-uses-armor">{{localize "BITD.Armor"}}</label>-->
<!--          <input id="armor-uses-armor" type="checkbox" name="data.armor-uses.armor" {{checked data.armor-uses.armor}}>-->
<!--        </div>-->
<!--        <div>-->
<!--          <label for="armor-uses-heavy">{{localize "BITD.Heavy"}}</label>-->
<!--          <input id="armor-uses-heavy" type="checkbox" name="data.armor-uses.heavy" {{checked data.armor-uses.heavy}}>-->
<!--        </div>-->
<!--        <div>-->
<!--          <label for="armor-uses-special">{{localize "BITD.Special"}}</label>-->
<!--          <input id="armor-uses-special" type="checkbox" name="data.armor-uses.special" {{checked data.armor-uses.special}}>-->
<!--        </div>-->
<!--      </td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>2</td>-->
<!--      <td>-->
<!--      </td>-->
<!--      <td>-->
<!--      </td>-->
<!--      <td>-1D</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>1</td>-->
<!--      <td>-->
<!--      </td>-->
<!--      <td>-->
<!--      </td>-->
<!--      <td>{{localize "BITD.LessEffect"}}</td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--  </table>-->
</div>